In [1]:
import pandas as pd

In [2]:
farmers = pd.read_csv("farmers_meter_info.csv")

In [3]:
farmers

,Subscription Code,License Type,County,Meter Serial,Meter Size,Installation Date,Last Connection Time,Consumption in Period (m³),Operating Hours in Period (h),Average Flow Rate in Period (l/s)
0,200654,کشاورزی,قوچان,9.098010e+11,80.0,1400/02/12,1404/01/28 - 02:08:15,23879.930,343575.4,1.15
1,622162,کشاورزی,تربت حیدریه,9.098011e+11,50.0,1403/02/27,1403/09/08 - 03:10:09,NaN,NaN,NaN
2,515618,کشاورزی,مشهد,9.098010e+11,125.0,1400/02/30,1404/01/28 - 02:10:25,103922.600,475073.2,6.91
3,529232,کشاورزی,مشهد,9.098010e+11,125.0,1401/06/23,1404/01/28 - 02:11:21,84159.690,68022.1,6.00
4,514013,کشاورزی,مشهد,9.098011e+11,150.0,1403/03/01,1404/01/28 - 03:11:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1004,516081,کشاورزی,مشهد,9.098010e+11,150.0,1401/12/18,1404/01/28 - 03:10:38,81412.200,0.0,14.00
1005,514250,کشاورزی,مشهد,9.098010e+11,100.0,1400/09/17,1404/01/28 - 03:08:27,188204.359,428576.2,11.72
1006,925247,کشاورزی,باخرز,9.098010e+11,50.0,1400/03/24,1404/01/28 - 02:10:01,5685.400,56574.8,3.30
1007,518473,کشاورزی,مشهد,9.098010e+11,100.0,1399/06/03,1404/01/28 - 03:01:20,250173.700,909533.1,12.28
1008,925005,کشاورزی,باخرز,9.098010e+11,100.0,1400/03/03,1403/07/29 - 02:04:50,338274.800,437856.7,30.17